@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">こんにちはWebアプリケーション！</h1>
    <div class="text-center">
    <h1 class="display-4">ようこそ</h1>
    
    <div id="user-info" style="display: none;">
        <p><img id="user-photo" src="" width="50" style="border-radius: 50%;"> <span id="user-name"></span> さん、こんにちは！</p>
        <button id="logout-button" class="btn btn-secondary">ログアウト</button>
    </div>

</div>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
